<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
	<!--http://checkstyle.sourceforge.net/checks.html-->

	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="lf" />
	</module>
	<module name="Translation" />
	<module name="UniqueProperties" />

	<module name="TreeWalker">
		<module name="UpperEll" />

		<module name="ArrayTypeStyle">
			<property name="javaStyle" value="true" />
		</module>

		<module name="FinalParameters" />
		<module name="MultipleVariableDeclarations" />
		<!--<module name="RequireThis" />-->

		<module name="EmptyBlock" />
		<module name="LeftCurly" />
		<module name="RightCurly" />
		<module name="DefaultComesLast" />

		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="ModifierOrder" />

		<module name="CovariantEquals" />
		<module name="EmptyStatement" />
		<module name="EqualsAvoidNull" />

		<module name="FinalLocalVariable" />
		<module name="HiddenField">
			<property name="ignoreSetter" value="true" />
			<property name="ignoreAbstractMethods" value="true" />
		</module>
		<module name="MagicNumber">
			<property name="ignoreAnnotation" value="true" />
			<property name="ignoreHashCodeMethod" value="true" />
		</module>
		<module name="ModifiedControlVariable" />
		<module name="RedundantThrows">
			<property name="allowUnchecked" value="true" />
		</module>
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />

		<module name="NestedForDepth">
			<property name="max" value="3" />
		</module>
		<module name="NestedIfDepth">
			<property name="max" value="3" />
		</module>
		<module name="NestedTryDepth">
			<property name="max" value="3" />
		</module>
		<module name="DeclarationOrder" />
		<module name="ExplicitInitialization" />

		<module name="CyclomaticComplexity">
			<property name="max" value="7" />
		</module>

		<module name="MethodLength">
			<property name="max" value="60" />
		</module>
		<module name="ParameterNumber" />
		<module name="MethodCount" />

		<module name="AvoidStarImport" />
	</module>
</module>